<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RegistroClientesConsultas</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroPrioridades">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro de prioridades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PrioridadesConsultas">
                <span class="oi oi-plus" aria-hidden="true"></span> Consultasdeprioridades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroClientes">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro de clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClientesConsultas">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  Consultas de clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroTickets">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro de tickets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TicketsConsultas">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  Consultas de tickets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroSistemas">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  Registros de sistemas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConsultasSistemas">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  Consultas del sistema
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
